<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista Prodotti
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista Prodotti x</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let product of products" [ngClass]="{'yellow': product.qty>0}">
      <ion-avatar slot="start">
        <img src="{{ product.image }}">
      </ion-avatar>
      <ion-label>
        <h2>{{ product.name }}</h2>
        <p>{{ product.size }}</p>
      </ion-label>
      <ion-input type="number" [(ngModel)]="product.qty" min="0" max="20"></ion-input>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Caricamento prodotti...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
