<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="salva($event)" [disabled]="!canSave()">
        <ion-icon slot="start" name="save"></ion-icon>
      </ion-button>
      <ion-button (click)="logout($event)">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Preferenze
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Preferenze</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-card class="ion-padding">
    <ion-card-subtitle>
      <ion-icon name="mail-outline"></ion-icon>
      {{ infoUtente.email }}
    </ion-card-subtitle>
    <ion-card-title>
      Ciao,&nbsp;<ion-text color="primary">{{ infoUtente.nome }}</ion-text>!
    </ion-card-title>
  </ion-card>
  
  <ion-list>
    <ion-item class="ion-no-padding">
      <h3 class="ion-margin-start">Posizione</h3>
    </ion-item>

    <ion-item class="ion-no-padding">
      <ion-icon class="ion-margin-start mr-5px" color="primary" name="navigate-circle-outline"></ion-icon>
      <ion-label>
        Usa posizione corrente
      </ion-label>
      <ion-toggle secondary [(ngModel)]="infoUtente.usaPosAttuale"></ion-toggle>
    </ion-item>

    <ion-item class="ion-no-padding">
      <ion-input class="ion-margin-start" [ngModel]="indirizzo" placeholder="Indirizzo personalizzato" debounce="750" (ionBlur)="localizzaIndirizzo($event)" [ngClass]="{'error': (!indirizzoValido && !infoUtente.usaPosAttuale)}" [disabled]="infoUtente.usaPosAttuale"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item class="ion-no-padding">
      <h3 class="ion-margin-start">Preferenze</h3>
    </ion-item>

    <ion-item class="ion-no-padding">
      <ion-icon class="ion-margin-start mr-5px" color="primary" name="person-circle-outline"></ion-icon>
      <ion-label class="ion-margin-end">
        Nome
      </ion-label>
        <ion-input type="text" [(ngModel)]="infoUtente.nome" maxlength="15" placeholder="Username" [ngClass]="{'error': (!nomeValido)}" (ionChange)="aggiornaNomeValido($event)"></ion-input>
    </ion-item>
  
    <ion-item class="ion-no-padding">
      <ion-icon class="ion-margin-start mr-5px" color="primary" name="search-circle-outline"></ion-icon>
      <ion-label>
        Negozi da mostrare
      </ion-label>
        {{ infoUtente.maxRisultati }}
        <ion-button fill="clear" (click)="display.negoziDaMostrareItem = !display.negoziDaMostrareItem">
          <ion-icon *ngIf=" display.negoziDaMostrareItem " name="chevron-up-outline"></ion-icon>        
          <ion-icon *ngIf=" !display.negoziDaMostrareItem " name="chevron-down-outline"></ion-icon>        
        </ion-button>
    </ion-item>

    <ion-item class="ion-no-padding" *ngIf=" display.negoziDaMostrareItem ">
      <ion-range min="1" max="50" color="secondary" [(ngModel)]="infoUtente.maxRisultati">
        <ion-label slot="start">1</ion-label>
        <ion-label slot="end">50</ion-label>
      </ion-range>
    </ion-item>

    <ion-item class="ion-no-padding">
      <ion-icon class="ion-margin-start mr-5px" color="primary" name="locate-outline"></ion-icon>
      <ion-label>
        Raggio di ricerca
      </ion-label>
        {{ infoUtente.raggioKm }}Km
        <ion-button fill="clear" (click)="display.raggioDiRicercaItem = !display.raggioDiRicercaItem">
          <ion-icon *ngIf=" display.raggioDiRicercaItem " name="chevron-up-outline"></ion-icon>        
          <ion-icon *ngIf=" !display.raggioDiRicercaItem " name="chevron-down-outline"></ion-icon>        
        </ion-button>
    </ion-item>

    <ion-item class="ion-no-padding" *ngIf=" display.raggioDiRicercaItem ">
        <ion-range min="1" max="30" step="0.5" color="secondary" [(ngModel)]="infoUtente.raggioKm">
          <ion-label slot="start">1</ion-label>
          <ion-label slot="end">30</ion-label>
        </ion-range>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-icon class="ion-margin-start mr-5px" color="primary" name="funnel-outline"></ion-icon>
        <ion-label>Ordinamento predefinito</ion-label>
        <ion-select [(ngModel)]="infoUtente.ordinamento">
          <ion-select-option value="DISTANZA">Distanza</ion-select-option>
          <ion-select-option value="PREZZO">Prezzo</ion-select-option>
        </ion-select>
      </ion-item>
  </ion-list>
</ion-content>
