<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="listaprodotti">
      <ion-icon name="basket"></ion-icon>
      <ion-label>Lista Prodotti</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="listasalvata">
      <ion-icon name="list"></ion-icon>
      <ion-label>Lista Salvata</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="preferenze">
      <ion-icon name="person"></ion-icon>
      <ion-label>Preferenze</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
