<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista Salvata
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista Salvata</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="prodotti.length>0">
    <ion-item *ngFor="let prodotto of prodotti; let idx = index">
      <ion-avatar slot="start">
        <img src="{{ prodotto.immagine }}">
      </ion-avatar>
      <ion-label>
        <h2>{{ prodotto.nome }}&nbsp;{{ prodotto.marca }}</h2>
        <p>{{ prodotto.pezzatura }}</p>
      </ion-label>
      <ion-label float-right>
        <ion-button (click)="rimuovi(idx)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="prodotti.length==0">
    <ion-item>
      <ion-label>
        <h2>Nessun prodotto salvato!</h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="salva($event)">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
