<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/listaprodotti"></ion-back-button>
    </ion-buttons>
    <ion-title>Lista Negozi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="risultatiPresenti() && !loading">
  <ion-item>
    <ion-label>Ordina risultati per</ion-label>
    <ion-select value="{{ ordinamento }}" (ionChange)="ordina($event)">
      <ion-select-option value="DISTANZA">Distanza</ion-select-option>
      <ion-select-option value="PREZZO">Prezzo</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-card (click)="apriDettaglio(negozio.id)" *ngFor="let negozio of risultatoView; let idx of index">
    <iframe  height="50%" width="100%" [src]="negozio.mapsLink" name="iframe_a"></iframe>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <ion-card-subtitle>
            <ion-icon name="location-outline"></ion-icon>
            {{ negozio.distanza | distanza }}
          </ion-card-subtitle>
          <ion-card-title>{{ negozio.nome }}</ion-card-title>
        </ion-col>
        <ion-col class="text-right" color="success">
          <ion-card-title color="primary">€ {{ negozio.totale | number: '1.2-2' }}</ion-card-title></ion-col>
      </ion-row>
    </ion-card-content>
    </ion-card>
</ion-content>

<ion-content *ngIf="loading">
  <ion-spinner name="crescent"></ion-spinner>
</ion-content>

<ion-content *ngIf="!risultatiPresenti() && !loading">
  <ion-item>
    <ion-label>
      <h2>Nessun negozio disponibile</h2>
    </ion-label>
  </ion-item>
</ion-content>