
.vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}